testdata/
report*
gmon.out

*.i
*.s
*.o
*.out

__pycache__/
*.egg-info
*.pyc

*.swp

.classpath
.project
.settings/
.idea/
cmake-build-*

.vs
.vscode
.VSCodeCounter
CMakeSettings.json

# cmake
cmake-build/
build/
lib/

# python
dist/
/actrie/**/*.so

# java
/jni/target/

# test
data/
