*.i
*.s
*.o
*.out
*.swp

# macOS
.DS_Store

# clangd
.cache/

# Eclipse
.settings/
.classpath
.project

# Intellij IDEA
.idea/

# VS Code
.vs/
.vscode/
.VSCodeCounter/
CMakeSettings.json
out/

# Python
dist/
__pycache__/
*.egg-info
*.pyc
/actrie/**/*.so

# Maven
target/

# Project
/build*/
/lib/
/data/
